<%- include('../partials/head.ejs')%> 
<% if(currentUser){%>
<div class="controls">
  <ul class="nav-list">
    <li >
      <a href="/events/add" class="nav-link">Add Event</a>
    </li>
  </ul>
</div>
<% }%>
<h1>Events</h1>
<% if(events){ %>
  <% events.forEach((event) =>{ %>
    <%- include('../partials/eventCard.ejs', {event})%>
<% }) %> 
<% } %>
<%-include('../partials/foot.ejs')%>
