<div class="card">
  <div class="card-header"><h1>Little Red Rockit</h1> 
  </div>
  <div class="details">
    <ul>
      <li>Category: Band</li>
      <li>Genre: Punk Rock</li>
      <li><a href="http://rockitFuelProductions.com">http://rockitFuelProductions.com</a></li>
    </ul>
  </div>
  <div class="content-wrapper">
    <div class="image"><img src="/images/missing.png" alt="Photo Not Found"></div>
    <div class="content">
      <p>Come enjoy an evening of acoustic performances by local musicians.Come enjoy an evening of acoustic performances by local musicians.Come enjoy an evening of acoustic performances by local musicians.Come enjoy an evening of acoustic performances by local musicians.</p>
      <div class="reviews">
      <h2>Reviews:</h2>
      <!-- Loop reviews  -->
      <%- include('./reviewCard') %>
      </div>
    </div>
  </div>
</div>