<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
  <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
  <div class="container">
    <nav>
      <img src="/images/logo.svg" alt="logo" class="logo">
      <ul class="nav-list">
        <li class="nav-item"><a href="/venues" class="nav-link">Venues</a></li>
        <li class="nav-item"><a href="/artists" class="nav-link">Artists</a></li>   
        <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
        <li class="nav-item"><a href="/users/login" class="nav-link login">Login</a></li>
      </ul>
    </nav>