<div class="card">
  <div class="review-card-header">
    <h3>JaySecurity </h3> 
    <div class="rating">
    </div>
  </div>
  <div class="content">
    <p>Come enjoy an evening of acoustic performances by local musicians.Come enjoy an evening of acoustic performances by local musicians.Come enjoy an evening of acoustic performances by local musicians.Come enjoy an evening of acoustic performances by local musicians.</p>
  </div>
</div>
