<div class="card">
  <div class="card-header"><h1>Mind Bomb</h1> 
  </div>
  <div class="details">
    <ul>
      <li>Location:67 Queen St. St. Catharines, On</li>
      <li>Contact: 905-688-3333 info@mindbomb.com</li>
      <li><a href="#">http://mindbomb.com</a></li>
    </ul>
  </div>
  <div class="content-wrapper">
    <div class="image"><img src="/images/missing.png" alt="Photo Not Found"></div>
    <div class="content">
      <p>Come enjoy an evening of acoustic performances by local musicians.Come enjoy an evening of acoustic performances by local musicians.Come enjoy an evening of acoustic performances by local musicians.Come enjoy an evening of acoustic performances by local musicians.</p>
      <div class="reviews">
      <h2>Reviews:</h2>
      <!-- Loop reviews  -->
      <%- include('./reviewCard') %>
      </div>
    </div>
  </div>
</div>