<%- include('./partials/head.ejs') %>
<form>
  <input type="text" name="search" id="search" />
  <select name="category" id="category">
    <option value="events" selected>Events</option>
    <option value="venues">Venues</option>
    <option value="artists">Artists</option>
  </select>
  <button id="search-btn">Search</button>
</form>
<script src="/javascripts/index.js"></script>
<%- include('./partials/foot.ejs')%>
