$header-background: #5da9e9;
$primary-color: #003f91;
$secondary-color: #6d326d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  a {
    text-decoration: none;
  }
  .logo {
    height: 60px;
    margin-left: 20px;
  }
}

.nav-link {
  border: 1px solid black;
  border-radius: 5px;
  background-color: $primary-color;
  padding: 5px 10px;
  color: #ffffff;

  &:hover {
    background-color: $secondary-color;
  }
}

.controls {
  display: inline-block;

  ul {
    margin: 0;
    padding: 0;
  }
}

.user-form-header {
  text-align: center;
}
.msg {
  width: 100%;
  #user-msg {
    text-align: center;
    font-weight: 600;
    font-size: larger;
    color: red;
  }
}
form {
  margin: 0 auto;
  width: 400px;

  .form-group {
    display: flex;
    flex-direction: column;
  }
  .inline-form-group {
    display: flex;
    input,
    select,
    button {
      display: inline-block;
      margin: 0 5px;
    }
  }

  input,
  select,
  textarea,
  button {
    display: block;
    border: 1px solid $header-background;
    border-radius: 5px;
    margin-bottom: 0.75rem;
    padding: 5px;
  }
}

.card {
  max-width: 900px;
  margin: 30px auto;
  padding-bottom: 10px;
  border: 2px solid rgba(54, 53, 53, 0.7);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.6);

  a.btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: $primary-color;
    padding: 5px 10px;
    color: #ffffff;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header-background;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    a {
      color: white;
    }
  }

  a {
    text-decoration: none;
  }
  ul {
    padding: 10px 10px;
  }
  li {
    list-style: none;
    margin: 5px 10px;
    font-weight: 700;
  }
  .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  img {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
  }
  .content {
    min-width: 350px;
    max-width: 450px;

    ul {
      padding: 0;
    }
    li {
      margin: 10px 15px;
    }
  }
  p {
    padding: 10px;
    white-space: pre-wrap;
  }
  h2 {
    margin: 10px 0 5px 10px;
  }
}

.review-card {
  padding: 0 10px 10px 10px;
}
.review-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: $secondary-color;
  color: white;

  img {
    margin: 0;
  }
}
