* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container h1 {
    text-align: center; }

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav ul {
    display: inline-block; }
  nav li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px; }
  nav a {
    text-decoration: none; }
  nav .logo {
    height: 60px;
    margin-left: 20px; }

.nav-link {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #003f91;
  padding: 5px 10px;
  color: #ffffff; }
  .nav-link:hover {
    background-color: #6d326d; }

.controls {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  padding: 0px 20px;
  position: relative; }
  .controls ul {
    position: absolute;
    right: 5%;
    margin: 0;
    padding: 0; }
  .controls li {
    list-style: none; }
  .controls a {
    text-decoration: none; }

.user-form-header {
  text-align: center; }

.msg {
  width: 100%; }
  .msg #user-msg {
    text-align: center;
    font-weight: 600;
    font-size: larger;
    color: red; }

form {
  margin: 0 auto;
  width: 400px; }
  form .form-group {
    display: flex;
    flex-direction: column; }
  form .inline-form-group {
    display: flex; }
    form .inline-form-group input,
    form .inline-form-group select,
    form .inline-form-group button {
      display: inline-block;
      margin: 0 5px; }
  form input,
  form select,
  form textarea,
  form button {
    display: block;
    border: 1px solid #5da9e9;
    border-radius: 5px;
    margin-bottom: 0.75rem;
    padding: 5px; }

.card {
  max-width: 900px;
  margin: 30px auto;
  padding-bottom: 10px;
  border: 2px solid rgba(54, 53, 53, 0.7);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6); }
  .card a.btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #003f91;
    padding: 5px 10px;
    color: #ffffff; }
    .card a.btn:hover {
      background-color: #6d326d; }
  .card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5da9e9;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .card .card-header a {
      color: white; }
  .card a {
    text-decoration: none;
    color: #5da9e9; }
  .card ul {
    padding: 10px 10px; }
  .card li {
    list-style: none;
    margin: 5px 10px;
    font-weight: 700; }
  .card .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .card img {
    max-width: 250px;
    max-height: 250px;
    margin: 10px; }
  .card .content {
    min-width: 350px;
    max-width: 450px; }
    .card .content ul {
      padding: 0; }
    .card .content li {
      margin: 10px 15px; }
  .card p {
    padding: 10px;
    white-space: pre-wrap; }
  .card h2 {
    margin: 10px 0 5px 10px; }

.review-card .btn {
  margin-left: 10px; }

.review-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #6d326d;
  color: white; }
  .review-card-header img {
    margin: 0; }

@media only screen and (max-width: 700px) {
  nav {
    justify-content: space-between; }
    nav li {
      margin: 10px; }
    nav .logo {
      margin-left: 10px;
      height: 50px; }
  form {
    width: 95%; }
  .card {
    max-width: 90%; }
    .card .user-ctrl {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .card .user-ctrl a.btn {
        margin: 5px; }
    .card .content-wrapper {
      flex-direction: column; }
    .card .content {
      min-width: unset;
      width: 100%; }
      .card .content a.btn {
        margin-left: 10px; }
      .card .content .reviews {
        width: 100%; }
        .card .content .reviews img {
          max-width: 20px; } }

/*# sourceMappingURL=style.css.map */