$header-background: #5da9e9;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  a {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    font-size: 1.8rem;
    background-color: gray;
    border-radius: 8px;
  }
  .logo {
    height: 60px;
    margin-left: 20px;
  }
}
.user-form-header {
  text-align: center;
}
.msg {
  width: 100%;
  #user-msg {
    text-align: center;
    font-weight: 600;
    font-size: larger;
    color: red;
  }
}
form {
  margin: 0 auto;
  width: 400px;

  .form-group {
    display: flex;
    flex-direction: column;

    input {
      display: block;
      margin: 0.8rem 0;
    }
  }
}

.card {
  max-width: 900px;
  margin: 30px auto;
  border: 2px solid rgba(54, 53, 53, 0.7);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.6);

  .card-header {
    background-color: $header-background;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  a {
    text-decoration: none;
  }
  ul {
    padding: 10px 10px;
  }
  li {
    list-style: none;
    margin: 5px 10px;
    font-weight: 700;
  }
  .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  img {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
  }
  .content {
    min-width: 350px;
    max-width: 450px;

    ul {
      padding: 0;
    }
    li {
      margin: 10px 15px;
    }
  }
  p {
    padding: 10px;
    white-space: pre-wrap;
  }
  h2 {
    margin: 10px 0 5px 10px;
  }
}

.review-card-header {
  display: flex;
  justify-content: space-between;
}
