<%- include('../partials/head.ejs')%> <% if(currentUser){%>
<div class="controls">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/venues/add" class="nav-link">Add Venue</a>
    </li>
  </ul>
</div>
<% }%>
<h1>Venues</h1>

<%- include('../partials/foot.ejs')%>
